<header id="top">
      <nav id="top">
        <ul>
          <li>
            <a href="/">
              <img src="{{ "/assets/blog.svg" | prepend: site.baseurl }}" alt ="" />
              Blog
            </a>
          </li>
          <li>
            <a href="http://www.twitter.com/anandubajtih">
              <img src="{{ "/assets/twitter.svg" | prepend: site.baseurl }}" alt ="" />
              Twitter
            </a>
          </li>

          <li>
            <a href="/playground">
              <img src="{{ "/assets/lab.svg" | prepend: site.baseurl }}" alt ="" />
              Lab
            </a>
          </li>

          <li>
            <a href="/feed.xml">
              <img src="{{ "/assets/feed.svg" | prepend: site.baseurl }}" alt ="" />
              RSS
            </a>
          </li>
        </ul>
      </nav>
    </header>
