<header id="top">
      <nav id="top">
        <ul>
          <li>
            <a href="/">
              <img src="/assets/blog.svg" onerror="this.src=/assets/blog.png" alt ="" />
              Blog
            </a>
          </li>
          <li>
            <a href="http://www.twitter.com/anandubajtih">
              <img src="/assets/twitter.svg" onerror="this.src=/assets/twitter.png" alt ="" />
              Twitter
            </a>
          </li>

          <li>
            <a href="/playground">
              <img src="/assets/lab.svg" onerror="this.src=/assets/lab.png" alt ="" />
              Lab
            </a>
          </li>

          <li>
            <a href="/feed.xml">
              <img src="/assets/feed.svg" onerror="this.src=/assets/feed.png" alt ="" />
              RSS
            </a>
          </li>
        </ul>
      </nav>
    </header>