
::-webkit-scrollbar {
  background: #fff;
}

code::-webkit-scrollbar {
  background: 0 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2);
  border: solid #fff 4px;
}

code::-webkit-scrollbar-thumb {
  border: #f5f2f0;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,.3);
}
